/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover;
  background-position: center;
  /*Req 1*/
  font-family: 'Andika', sans-serif;
  background-image: url("../images/pigeon-background.JPEG");
  background-color: #DDDDDD;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  color: #B21F50;
  /*Req 2*/
  font-size: 32px;
  text-align: center;
  line-height: 2;
}


p{
  /*Req 3*/
  padding-top: 15px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

a{
  /*Req 4*/
  font-size: 16px;
  color: #B21F50;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/*Req 5*/
*:focus {
  border: dashed;
  border-width: 3px; 
  border-color: #417243;
}


/*Req 6*/

table{
  border: 5px solid #000000;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto; 
}

/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */
thead tr:first-child th:first-child{
  border-top-left-radius: 50px;
}

thead tr:last-child th:last-child{
  border-top-right-radius: 50px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 50px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 50px;
}

/* Req 7 */
td{
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border-top: solid;
  border-color: #000000;
  border-top-width: 2px;
}

.colhead{
  color: #FFFFFF;
  min-width: 125px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #7e0825;
  text-transform: uppercase;
}

th {
  text-align: center;
  vertical-align: middle;
}

.rowhead{
  border-top: solid;
  border-right: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-color: #000000;
}


tr:nth-child(odd) {
  background: transparent;
}

tr:nth-child(even) {
  background: #D1D1D1;
  border-radius: 50px;
}

tr:hover{
  background-color: rgba(126, 8, 37, 0.25); 
}

/* Req 8 */
footer{
  background-color:#000000;
  text-align:center;
  color: #FFFFFF;
  /*Req 8*/
  min-height: 75px;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
}
